<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boardgame Details</title>
  </head>
  <body>
  {{#model}}
    <h2>{{name}}</h2>
    <img src={{boxart}}>
    <h5>{{company.name}}</h5>
  {{/model}}
  </body>
</html>
