<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boardgame Details</title>
  </head>
  <body>
  {{#model}}
    <h2>{{name}}</h2>
    <img src={{boxart}}>
    {{#style}}
    <h3>{{.}}</h3>
    {{/style}}
    <h4>{{company.name}}</h5>
    <br>
    <form class="" action="/edit/{{id}}" method="get">
      <input type="submit" name="" value="Edit This Game">
    </form>
    <br>
    <h2>Add A Style</h2>
    <form class="" action="/details/{{_id}}" method="post">
      <input type="text" name="style" value="">
      <input type="submit" name="" value="Add">
    </form>
  <form class="" action="/" method="get">
    <input type="submit" name="" value="Back To Games">
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form class="" action="/delete/{{_id}}" method="get">
    <input type="submit" name="" value="Delete This Game">
  </form>
  {{/model}}
  </body>
</html>
