<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boardgames</title>
  </head>
  <body>
    {{#model}}
    <h2>{{name}}</h2>
    <div>
      <h4>{{company.name}}</h4>
    </div>
    {{/model}}
  </body>
</html>
