<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boardgames</title>
  </head>
  <body>
    {{#model}}
    <h2><a href="/details/{{_id}}">{{name}}</a></h2>
    <img src="{{boxart}}" alt="">
    {{/model}}
  </body>
</html>
