<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boardgames</title>
  </head>
  <body>
    <form class="" action="/create" method="get">
      <input type="submit" name="" value="Add A Game">
    </form>
    <br>
    <br>
    <br>
    <br>
    {{#model}}
    <h2><a href="/details/{{_id}}">{{name}}</a></h2>
    <img src="{{boxart}}" alt="">
    {{/model}}
  </body>
</html>
